<link rel="stylesheet" type="text/css" href="./styles/style.css">

<div id="login">

{{#each userData}}

<img src="{{this.url}}" alt="" height="200px" width="275px">
<h2> {{this.username}} </h2>
<p>{{this.about}}</p>

{{/each}}

</div>
