<h1> Login Page </h1>

<form action="/login" method="POST">
	<input type="text" placeholder="Your Username" name="username"/>
	<br>
	<input type="text" placeholder="Password" name="password"/>
	<br> 
	<input type="submit" value="Login"/>

</form>